<!DOCTYPE html>
@{
  Layout="Shared/_Layout.cshtml";
}
<h4><a href="/profile/@Model["sender"].Id">Home</a></h4>
@if(Model.ContainsKey("message"))
{
  <h3>@Model["message"]</h3>
}
<div class="container">
  <form action="/user/message/send" method="post">
    <div class="">
      <h2>Send a message to @Model["receiver"].UserName</h2>
    </div>
      <textarea rows = "5" cols ="50" class="form-control" type="textbox" name="message-text"></textarea>
      <input type="text" name="sender" value="@Model["sender"].Id" hidden>
      <input type="text" name="receiver" value="@Model["receiver"].Id" hidden>
    <button type="submit" class="btn btn-success">Send</button>
  </form>
  <br>
  <h4>Message History</h4>
  <hr>
  @foreach(var message in Model["history"])
  {

    <h4><a href="/user/messages/@message.Id">From: @message.SenderId</a></h4>
    <div class="well">
    <h5>@message.MessageBody</h5>
    </div>
  }
</div>
