<!DOCTYPE html>
@{
  Layout="Shared/_Layout.cshtml";
}

<div class="container">
  @if(Model.ContainsKey("message"))
  {
    <h3>@Model["message"]</h3>
  }
  <div class="jumbotron">
    <h1>@Model["user"].UserName</h1>
    <h3>@Model["user"].FirstName</h3>
    <h3>@Model["user"].LastName</h3>
    <h3>@Model["user"].ZipCode</h3>
    <h3>@Model["user"].Email</h3>
    <p>@Model["user"].AboutMe</p>

  @if (Model["state"])
  {
    <button type="button" name="button" class="btn btn-info"><a href="/user/update">Edit Profile</a></button>
  }
  <button type="button" name="button" class="btn btn-info"><a href="/users">View All Profiles</a></button>
  </div>
</div>
