<!DOCTYPE html>
@{
  Layout="Shared/_Layout.cshtml";
}

@if(Model.ContainsKey("message"))
{
  <h3>@Model["message"]</h3>
}
<div class="container">
  <div class="row">
  <div class="col-md-2">
    <img src="@Model["user"].GetProfilePhoto().Url" alt="profile picture" id="profilePic" class="small-picture"/>
    <h4><a href="/user/@Model["user"].Id">My Profile</a></h4>
    <h4><a href="/users">View All Profiles</a></h4>
    <h4><a href="/user/messages">View Messages</a></h4>
    <br>
    <h4 id="log-out-h4"><a href="/logout">Log-Out</a></h4>
  </div>
  <div class="col-md-10 well">
    <h2>@Model["selectedUser"].FirstName @Model["selectedUser"].LastName</h2>
    <img src="@Model["selectedUser"].GetProfilePhoto().Url" alt="profile picture" id="profilePic" class="small-picture"/>
    <h3>@Model["selectedUser"].TagLine</h3>
    <h4>@Model["selectedUser"].Genders seeking @Model["selectedUser"].SeekGenders</h4>
    <h4>username: @Model["selectedUser"].UserName</h4>
    <p>about me: @Model["selectedUser"].AboutMe</p>
    <h6>zip-code: @Model["selectedUser"].ZipCode</h6>
    <h6>email: @Model["selectedUser"].Email</h6>
    <br>
    <h4><a href='/user/@Model["selectedUser"].Id/photos'>Photos</a></h4>
    <hr>



  @if(Model.ContainsKey("state"))
  {
    @if(Model["state"] == true)
    {
      @if (Model["messageList"].Count > 0)
      {
        <h3>Unread Messages</h3>
        <hr>
        @foreach (var message in Model["messageList"])
        {
          <h4><a href="/user/messages/@message.Id">From: @message.SenderId</a></h4>
        }
      }
      <h4><a href="/user/update">Edit Profile</a></h4>
    }
    @if(Model["state"] == false)
      {
        <button type="button" name="update" class="btn btn-info"><a href="/user/@Model["selectedUser"].Id/message/send">Message @Model["selectedUser"].UserName</a></button>
        <hr>
      }
    }

    </div>
  </div>
</div>
