<!DOCTYPE html>
@{
  Layout="Shared/_Layout.cshtml";
}
@if(Model.ContainsKey("message"))
{
  <h3>@Model["message"]</h3>
}
<div class="container">
  <div class="jumbotron">
    <h1>@Model["user"].FirstName @Model["user"].LastName</h1>
    <h3>@Model["user"].TagLine</h3>
    <h4>username: @Model["user"].UserName</h4>
    <h6>zip-code: @Model["user"].ZipCode</h6>
    <h6>email; @Model["user"].Email</h6>
    <p>about me: @Model["user"].AboutMe</p>
    @* <img src="@Model["profilePic"]" alt="profile picture" id="profilePic"/> *@


  @if(Model.ContainsKey("state"))
  {
    @if(Model["state"] == true)
    {
      <button type="button" name="update" class="btn btn-info"><a href="/user/update">Edit Profile</a></button>
      <button type="button" name="messages" class="btn btn-info"><a href="/user/messages">View Messages</a></button>
    }
    @if(Model["state"] == false)
    {
      <button type="button" name="update" class="btn btn-info"><a href="/user/@Model["user"].Id/message/send">Message @Model["user"].UserName</a></button>
    }
  }
  <button type="button" name="button" class="btn btn-info"><a href="/users">View All Profiles</a></button>
  <a href='/user/@Model["user"].Id/photos'>Photos</a>
  </div>
</div>
